.full-matching {
    background-color: #009933 !important;
    color: #ffffff !important;
}

.good-matching {
    background-color: #33cc33 !important;
    color: #ffffff !important;
}

.average-matching {
    background-color: #ff9933 !important;
    color: #ffffff !important;
}

.bad-matching {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}